.chats-user {
  margin-bottom: 35px;
}

.chats-user {
  transform: scale(1);
}

.chats-user:hover {
  transform: scale(1.03);
  box-shadow: 0px 1px 8px gray;
  padding: 8px;
  border-radius: 25px;
  transition: transform 0.1s linear, box-shadow 0.1s linear, padding 0.1s linear,
    border-radius 0.1s linear;
}
